<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Submission History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let log of logs">
        <ion-row>
            <ion-col>
              Group
            </ion-col>
            <ion-col>
              {{ log.Group.name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Location
            </ion-col>
            <ion-col>
              {{ log.Attendance.name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Start Time
            </ion-col>
            <ion-col>
              {{ log.Attendance.start_date }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="log.Attendance.end_date">
            <ion-col>
              End Time
            </ion-col>
            <ion-col>
              {{ log.Attendance.end_date }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="log.Attendance.end_date">
            <ion-col>
              Duration
            </ion-col>
            <ion-col>
              {{ log.Attendance.duration | secondsToTime}}
            </ion-col>
          </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
