<ion-header>
  <ion-navbar color="primary">
    <ion-title>Game Pass Verification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider>
      Settings
    </ion-item-divider>
    <ion-item>
      <ion-note>Scanner Name</ion-note>
      <ion-note item-right>{{ name }} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note>Event/Game</ion-note>
      <ion-note item-right>{{ location }} </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-divider>
      Last Scanned Log
    </ion-item-divider>
    <ion-item *ngFor="let log of logs">
      <ion-row>
        <ion-col>
          Group
        </ion-col>
        <ion-col>
          {{ log.Group.name }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Location
        </ion-col>
        <ion-col>
          {{ log.Attendance.name }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Start Time
        </ion-col>
        <ion-col>
          {{ log.Attendance.start_date }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="log.Attendance.end_date">
        <ion-col>
          End Time
        </ion-col>
        <ion-col>
          {{ log.Attendance.end_date }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status == 'game'">
        <ion-col>
          Duration
        </ion-col>
        <ion-col>
          {{ log.Attendance.duration | secondsToTime}}
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full large color="secondary" (click)="scanQR()"> Scan Game Pass </button>
</ion-footer>
